body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 30px;
  border-bottom: 5px solid #222222;
  border-top: 5px solid #222222;
  padding: 50px;
  background: #F6F6F6;
}


h1 {
    color: pink;
    margin-left: 20px;
    text-transform: uppercase;
}
.commonstyles a {
  color: #05080C;
}

.commonstyles small {
  color: #05080C;
}

.commonstyles strong {

}

.commonstyles h1 {
  font-weight: bold;

}

.commonstyles h2 {
}

.commonstyles h3 {
  margin-top: 42px;
}

.commonstyles h4 {
  margin-bottom: 0;
  color: #05080C; 
}

.commonstyles p {
  font-family: Georgia, serif;
  margin-top: 0;
  margin-bottom: 20px;
  color: #05080C;
}

.commonstyles ul {
  list-style: square;
  color: #05080C; 
}

.commonstyles ul p {
  color: #05080C; 

}

.commonstyles li {
  color: #05080C; 

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.toc {

  max-width: 300px;
  float:left;
  margin: 0 0 20px 20px;
}

.toc .toclevel1 {
  font-size: 20px;
}

.toc .toclevel1 > a {
  color: black 

}

.toc .toclevel2 {
  font-size: 15px;

}

.toc .toclevel2 > a {
 color: #3344aa

}

.datatable td {
  padding: 8px 14px;
}

.datatable table, th, td {
   border: 1px solid black;
}

.datatable th {
    text-align: left;
}

.datatable tr:hover {background-color: #FF69B4}

.datatable td:first-child{
  text-transform: uppercase;
}